/* *{
    border: 1px solid grey;
  }; */
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}

  body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
  }
  
  h1:hover{
    color: #03CBC7;
    cursor: pointer;
  }
  
  .login {
    text-align: right;
    font-family: 'Pacifico', cursive;
    color: #EAD2AC;
    font-size: 1em;
  }
  
  .login a:link, .login a:visited {
    text-decoration: none;
    color: #EAD2AC;
    background-color: #504746; 
    padding: 10px;
  }
  
  .login a:hover{
    color: #03CBC7;
    cursor: pointer;
  }

  #bar{
    text-align: right;
    font-family: 'Pacifico', cursive;
    color: #504746;
    font-size: 1em;
    margin: 0;
    padding: 0 1%;
    background-color: #EAD2AC;
  }
  
  #bar a{
    text-decoration: none;
    color: #504746;
  }
  
  #bar a:hover{
    color: #03CBC7;
    cursor: pointer;
  }

  .header {
    background-color: #504746;
    padding-left: 25px;
  }
  
  h1{
    font-family: 'Pacifico', cursive;
    color: #EAD2AC;
    font-size: 3em;
    margin: 0;
  }
  
  h2{
    text-align: left;
    font-family: 'Pacifico', cursive;
    color: #4281A4;
    font-size: 1.5em;
    margin: 0;
  }
  
  h2:hover {
    color: #03CBC7;
    cursor: pointer;
  }
  
  h3 {
    text-align: left;
    font-family: 'Pacifico', cursive;
    color: #03CBC7;
    font-size: 1.5em;
    margin: 0;
  }
  
  h3:hover {
    color: #4281A4;
    cursor: pointer;
  }
  
  p {
    text-align: left;
    font-size: 1.6em;
  }
  
  .short-description{
    margin: 2% 1%;
  }

  .all-testimonials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
  }
  
  .testimonial {
    display: flex;
    flex-direction: row;
    width: 45%;
    flex-wrap: wrap;
    text-align: left;
    margin: 1%;
    padding: 1%;
    border: 3px solid #504746;
    background-color: #EAD2AC;
    border-radius: 20px;
  }

  .testimonial:hover {
    background-color: #4281A4;
    color: white;
  }
  
  .testimonial-header {
    display: flex;
    justify-content: space-between;
    /* background-color: yellow; */
    height: 15vh;
  }
  
  .testimonial-header img {
    display: flex;
    width: 50%;
    /* background-color: red; */
  }
  
  .testimonial-header p {
    display: flex;
    width: 45%;
    /* background-color: green; */
    text-align: right;
    align-items: center;
  }
  
  .review {
    display: flex;
    /* background-color: grey; */
    align-items: flex-start;
  }
  
  .review p {
    display: flex;
    /* background-color: peachpuff; */
    align-items: flex-start;
    font-size: 1.4em;
    padding: 1%;
  }

  footer {
    background-color: #EAD2AC;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 1em;
    padding: 5%;
    margin: 3% 0 0; 
  }

  footer nav a {
    color: #504746;
  }

  footer nav a:hover {
    color: #03CBC7;
    cursor: pointer;
  }
  
  @media (max-width: 800px) {
    .testimonial{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
}

  @media(max-width: 500px) {
    .testimonial{
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
  }
  .testimonial-header {
    display: flex;
    justify-content: space-between;
    /* background-color: yellow; */
    height: 12vh;
  }
}
  
  
  