/* *{
    border: 1px solid grey;
  }; */
  
  body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
  }
  
  h1:hover{
    color: #03CBC7;
    cursor: pointer;
  }
  
  #bar{
    text-align: right;
    font-family: 'Pacifico', cursive;
    color: #EAD2AC;
    font-size: 1em;
    margin: 0;
  }
  
  #bar a{
    text-decoration: none;
    color: #4281A4;
  }
  
  #bar a:hover{
    color: #03CBC7;
    cursor: pointer;
  }

  .header {
    background-color: #504746;
    padding-left: 25px;
  }
  
  h1{
    font-family: 'Pacifico', cursive;
    color: #EAD2AC;
    font-size: 3em;
    margin: 0;
  }
  
  h2{
    text-align: left;
    font-family: 'Pacifico', cursive;
    color: #4281A4;
    font-size: 1.5em;
    margin: 0;
  }
  
  h2:hover {
    color: #03CBC7;
    cursor: pointer;
  }
  
  h3 {
    text-align: left;
    font-family: 'Pacifico', cursive;
    color: #03CBC7;
    font-size: 1.5em;
    margin: 0;
  }
  
  /* .header h3 {
    text-align: left;
    font-family: 'Pacifico', cursive;
    color: #EAD2AC;
    font-size: 3em;
    margin: 0;
  }
  
  .header h3:hover {
    color: #03CBC7;
    cursor: pointer;
  } */
  
  h3:hover {
    color: #4281A4;
    cursor: pointer;
  }
  
  p {
    text-align: left;
    font-size: 1.6em;
  }
  
  .all-testimonials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
  }
  
  .testimonial {
    display: flex;
    flex-direction: row;
    width: 45%;
    flex-wrap: wrap;
    text-align: left;
    margin: 1%;
    border: 3px solid blueviolet;
  }
  
  .testimonial-header {
    display: flex;
    background-color: yellow;
  }
  
  .testimonial-header img {
    display: flex;
    width: 50%;
    background-color: red;
  }
  
  .testimonial-header p {
    display: flex;
    width: 25%;
    background-color: green;
  }
  
  .review {
    display: flex;
    background-color: grey;
  }
  
  footer {
    background-color: #EAD2AC;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 1em;
    padding: 5%;
  }
  
  @media(max-width: 500px) {
    .testimonial-header img {
     width: 100%;
     height: auto;
    };
  };
  
  
  