/* *{
    border: 1px solid grey;
  }; */
  
  body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
  }
  
  h1:hover{
    color: #03CBC7;
    cursor: pointer;
  }
  
  .login {
    text-align: right;
    font-family: 'Pacifico', cursive;
    color: #EAD2AC;
    font-size: 1em;
  }
  
  .login a:link, .login a:visited {
    text-decoration: none;
    color: #EAD2AC;
    background-color: #504746; 
    padding: 10px;
  }
  
  .login a:hover{
    color: #03CBC7;
    cursor: pointer;
  }

  #bar{
    text-align: right;
    font-family: 'Pacifico', cursive;
    color: #504746;
    font-size: 1em;
    margin: 0;
    padding: 0 1%;
    background-color: #EAD2AC;
  }
  
  #bar a{
    text-decoration: none;
    color: #504746;
  }
  
  #bar a:hover{
    color: #03CBC7;
    cursor: pointer;
  }

  .header {
    background-color: #504746;
    padding-left: 1%;
  }
  
  h1{
    font-family: 'Pacifico', cursive;
    color: #EAD2AC;
    font-size: 3em;
    margin: 0;
  }
  
  h2{
    text-align: left;
    font-family: 'Pacifico', cursive;
    color: #4281A4;
    font-size: 1.5em;
    margin: 0;
  }
  
  h2:hover {
    color: #03CBC7;
    cursor: pointer;
  }
  
  h3 {
    text-align: left;
    font-family: 'Pacifico', cursive;
    color: #03CBC7;
    font-size: 1.5em;
    margin: 0;
  }
  
  h3:hover {
    color: #4281A4;
    cursor: pointer;
  }

 h4 {
    text-align: left;
    font-family: 'Pacifico', cursive;
    color: #03CBC7;
    font-size: 1.4em;
    margin: 0;
  }

  h4:hover {
    color: #4281A4;
    cursor: pointer;
  }

  p {
    text-align: left;
    font-size: 1.2em;
  }
  
  .short-description{
    margin: 2% 1% 0;
  }
  .all-themes {
    box-sizing: border-box;
    text-align: center;
  }
  
  .single-theme h1 {
    font-size: 2.2em;
  }
  
  /* // base */
  .single-theme {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
  }
  
  .single-theme >.front{
          display: block;
          transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
          transition-duration: .5s;
          transition-property: transform, opacity;
      }
  
  .single-theme > .back {
        display: block;
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        transition-duration: .5s;
        transition-property: transform, opacity;
    }
  
  .single-theme >.front {
          transform: rotateY(0deg);
      }
  
  .single-theme > .back {
          position: absolute;
          opacity: 0;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          margin-left: auto;
          margin-right: auto;
          transform: rotateY(-180deg);
      }
      
  .single-theme:hover >.front {
              transform: rotateY(180deg);
    }
  
  
  .single-theme:hover >.back {
              opacity: 1;
              transform: rotateY(0deg);
              margin-left: auto;
              margin-right: auto;
          }
  
  /* // custom */
  .single-theme {
      position: relative;
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      margin: 1%;
      width: 80%;
  }
    
  .single-theme >.front {
      display: block;
      color: white;
      width: 100%;
      background-size: cover!important;
      background-position: center!important;
      height: 50vh;
      margin-left: auto;
      margin-right: auto;
      padding: 1em 2em;
      background: #313131;
      border-radius: 10px;
    }
  
    .single-theme >.front p {
        font-size: 0.9125rem;
        line-height: 160%;
        color: #999;
      }
  
  .single-theme >.back {
        display: block;
        color: white;
        width: 100%;
        background-size: cover!important;
        background-position: center!important;
        height: 50vh;
        margin-left: auto;
        margin-right: auto;
        padding: 1em 2em;
        background: #313131;
        border-radius: 10px;
      }
  
      .single-theme >.back p {
        font-size: 0.9125rem;
        line-height: 160%;
        color: #999;
      }
  
  
  .text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
  }

  .closing {
    color: #4281A4;
    font-size: 1.5em;
    margin: 0;
    text-align: center;
  }
  
  .closing-p {
    text-align: center;
  }

footer {
    background-color: #EAD2AC;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 1em;
    padding: 5%;
    margin: 3% 0 0; 
  }

  footer nav a {
    color: #504746;
    text-decoration: none;
  }

  footer nav a:hover {
    color: #03CBC7;
    cursor: pointer;
  }

  footer .icons{
    color: #504746;
    text-align: center;
    text-decoration: none;
  }
  
  footer .icons:hover{
    color: #03CBC7;
  }

  @media (max-width: 800px) {
    .theme{
      display:flex;
      flex-wrap: wrap;
      justify-content:space-around;
      /* padding:4% 0; */
    }
    
  .image-left{
      width:45%;
      display:flex;
      justify-content:center;
      align-items:center;
      padding: 0;
      margin: 0;
    }
  
  img{
      width: 100%;
      display:flex;
      justify-content:center;
      align-items:center;
      padding: 0;
      margin: 0;
    }
  
  .theme-info-right{
      width:45%;
      display:flex;
      justify-content:center;
      align-items:center;
    }
  }

  
  @media(max-width: 500px) {
    .theme{
      display:flex;
      flex-wrap: wrap;
      justify-content:space-around;
      /* padding:1% 0; */
    }
    
  .image-left{
      width:90%;
      display:flex;
      justify-content:center;
      align-items:center;
      padding: 0;
      margin: 0;
    }
  
  img{
      width: 100%;
      display:flex;
      justify-content:center;
      align-items:center;
      padding: 0;
      margin: 0;
    }
  
  .theme-info-right{
      width:90%;
      display:flex;
      justify-content:center;
      align-items:center;
    }
    .theme-info-right h4{
      text-align: center;
    }
  }