/* *{
    border: 1px solid grey;
  }; */
  
  body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
  }
  
  h1:hover{
    color: #03CBC7;
    cursor: pointer;
  }
  
  .login {
    text-align: right;
    font-family: 'Pacifico', cursive;
    color: #EAD2AC;
    font-size: 1em;
  }
  
  .login a:link, .login a:visited {
    text-decoration: none;
    color: #EAD2AC;
    background-color: #504746; 
    padding: 10px;
  }
  
  .login a:hover{
    color: #03CBC7;
    cursor: pointer;
  }

  #bar{
    text-align: right;
    font-family: 'Pacifico', cursive;
    color: #504746;
    font-size: 1em;
    margin: 0;
    padding: 0 1%;
    background-color: #EAD2AC;
  }
  
  #bar a{
    text-decoration: none;
    color: #504746;
  }
  
  #bar a:hover{
    color: #03CBC7;
    cursor: pointer;
  }

  .header {
    background-color: #504746;
    padding-left: 1%;
  }
  
  h1{
    font-family: 'Pacifico', cursive;
    color: #EAD2AC;
    font-size: 3em;
    margin: 0;
  }
  
  h2{
    text-align: left;
    font-family: 'Pacifico', cursive;
    color: #4281A4;
    font-size: 1.5em;
    margin: 0;
  }
  
  h2:hover {
    color: #03CBC7;
    cursor: pointer;
  }
  
  h3 {
    text-align: left;
    font-family: 'Pacifico', cursive;
    color: #03CBC7;
    font-size: 1.5em;
    margin: 0;
  }
  
  h3:hover {
    color: #4281A4;
    cursor: pointer;
  }

 h4 {
    text-align: left;
    font-family: 'Pacifico', cursive;
    color: #03CBC7;
    font-size: 1.4em;
    margin: 0;
  }

  h4:hover {
    color: #4281A4;
    cursor: pointer;
  }

  p {
    text-align: left;
    font-size: 1.2em;
  }
  
  .short-description{
    margin: 2% 1% 0;
  }

.all-themes{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    padding:4%;
  }

.theme{
  display: flex;
  margin: 2% 0;
  justify-content: space-evenly;
}

.theme:hover{
  border: 5px dashed #4281A4;
  border-radius: 10px;
  padding: 1% 0;
  margin: 1%;
  transform: scale(1.1);
}

.image-left{
    width:30%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 0;
    margin: 0;
  }

.image-left img{
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 0;
    margin: 0;
    width: 100%;
    border-radius: 20px;
  }

.theme-info-right{
    width:60%;
    display:flex;
    justify-content:center;
    align-items:center;
  }

.theme-info-right .theme-info{
    text-align: left;
    width:100%;
  }

footer {
    background-color: #EAD2AC;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 1em;
    padding: 5%;
    margin: 3% 0 0; 
  }

  footer nav a {
    color: #504746;
  }

  footer nav a:hover {
    color: #03CBC7;
    cursor: pointer;
  }

  @media (max-width: 800px) {
    .theme{
      display:flex;
      flex-wrap: wrap;
      justify-content:space-around;
      /* padding:4% 0; */
    }
    
  .image-left{
      width:45%;
      display:flex;
      justify-content:center;
      align-items:center;
      padding: 0;
      margin: 0;
    }
  
  img{
      width: 100%;
      display:flex;
      justify-content:center;
      align-items:center;
      padding: 0;
      margin: 0;
    }
  
  .theme-info-right{
      width:45%;
      display:flex;
      justify-content:center;
      align-items:center;
    }
  }

  
  @media(max-width: 500px) {
    .theme{
      display:flex;
      flex-wrap: wrap;
      justify-content:space-around;
      /* padding:1% 0; */
    }
    
  .image-left{
      width:90%;
      display:flex;
      justify-content:center;
      align-items:center;
      padding: 0;
      margin: 0;
    }
  
  img{
      width: 100%;
      display:flex;
      justify-content:center;
      align-items:center;
      padding: 0;
      margin: 0;
    }
  
  .theme-info-right{
      width:90%;
      display:flex;
      justify-content:center;
      align-items:center;
    }
    .theme-info-right h4{
      text-align: center;
    }
  }